@model User

<div style="border:1px solid orange;direction:rtl">
    <h1>@Model.UserName عزیز!</h1>
    <p>جهت فعالسازی حساب کاربری خود روی لینک زیر کلیک نمایید</p>
    <p><a href="http://localhost:5169/ActiveUserAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a></p>
</div>