@model User

<div style="border:1px solid gray;direction:rtl">
    <h1>@Model.UserName عزیز</h1>
    <p>جهت بازیابی رمز عبور خود روی لینک زیر کلیک نمایید</p>
    <a href="http://localhost:5169/ResetPassword/@Model.ActiveCode">بازیابی رمز عبور</a>
</div>