@model List<ShowCourseListItemViewModel>
@{
    ViewData["Title"] = "تاپ لرن";
}
@inject ICourseService _courseService
@section SearchBox{
    <header>
        <a href="" class="logo"><img src="/images/logo.png"></a>
        <h1> با اساتید مجرب و کارآزموده در خودآموز تاپ لرن </h1>
        <h2> آموزش ببینید ، تجربه کسب کنید و بازار کار شوید </h2>
        <h3> با کمترین هزینه خودت یاد بگیر </h3>
    </header>
    <div class="search-form">
        <form action="/Course" method="get">
            <input type="text" name="filterCourseTitle" placeholder="چی دوست داری یاد بگیری ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> آخرین دوره های تاپ لرن </h2>
                <a href=""> مشاهده همه دوره ها </a>
            </header>
            <div class="row">
                <!-- col -->
                @foreach (var course in Model)
                {
                    <partial name="_CourseBox" model="course" />
                }
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> دوره های محبوب تاپ لرن </h2>
                <a href=""> مشاهده همه دوره ها </a>
            </header>
            <div class="row">
               @foreach (var item in _courseService.GetPopularCourses())
               {
                   <partial name="_CourseBox" model="item"></partial>
               }
            </div>
        </section>
    </div>
</main>

