@model ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
        </ul>
    </nav>
</div>
@if (ViewBag.IsUsed != true)
{
    <main class="client-page">
        <div class="container-content">
            @if (ViewBag.IsReseted == true)
            {
                <div class="alert alert-success">
                    <p>رمز عبور شما با موفقیت تغییر یافت حال میتوانید با استفاده از این رمز عبور وارد سایت شوید</p>
                    <a class="btn btn-warning" href="/Login">ورود به سایت</a>
                </div>
            }
            <header><h2> تغییر رمز عبور </h2></header>

            <div class="form-layer">
                <form method="post">
                    <input type="hidden" asp-for="ActiveCode">
                    <div class="input-group">
                        <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                        <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group">
                        <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                        <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="password">
                    </div>
                    <span asp-validation-for="RePassword" class="text-danger"></span>

                    <button class="btn btn-success"> تغییر رمز </button>

                </form>
            </div>

        </div>
    </main>
}
else
{
    <div class="alert alert-danger">
        <p>مهلت استفاده از این لینک به پایان رسیده است یا اینکه لینک غیر معتبر می باشد</p>
        <a class="btn btn-warning" href="/">بازگشت به سایت</a>
    </div>
}


